{% extends 'userpages/userhome.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">View Event</h4>
       <table class="table" >
         <thead>
         <tr>
           <th> SI. NO </th>
           <th> Name </th>
           <th> Date </th>
           <th> Description </th>
           <th> Image </th>
           <th> Edit </th>
           <th> Edit </th>
         </tr>
         </thead>
         <tbody>
         {% csrf_token %}
         {% for i in data %}
         <tr>
             <td>{{ forloop.counter }}</td>
             <td>{{i.name}}</td>
             <td>{{i.date}} </td>
             <td>{{i.description}}</td>
             <td><img style="height:100px;width:130px;" src="{{i.image.url}}"></td>
             <td><a href="{% url 'eventupdate' i.id %}"><button class="btn btn-info" type="submit">Update</button></a></td>
             <td><a href="{% url 'eventdelete' i.id %}"><button class="btn btn-danger" type="submit">Delete</button></a></td>
         </tr>
         {% endfor %}

         </tbody>
       </table>
  </div>
</div>





<!--<table style="margin-left:30px;">-->
<!--  <tr>-->
<!--    <th>SI.NO:  </th>-->
<!--    <th>Name : </th>-->
<!--    <th>Date : </th>-->
<!--    <th>Description : </th>-->
<!--    <th>Image : </th>-->
<!--    <th>Edit</th>-->
<!--    <th>Edit</th>-->
<!--  </tr>-->
<!--    {% csrf_token %}-->
<!--    {% for i in data %}-->
<!--  <tr style="...">-->
<!--    <td>{{ forloop.counter }}</td>-->
<!--    <td>{{i.name}}</td>-->
<!--    <td>{{i.date}}</td>-->
<!--    <td>{{i.description}}</td>-->
<!--    <td><img style="height:100px;width:130px;" src="{{i.image.url}}"></td>-->
<!--    <td><a href="{% url 'eventupdate' i.id %}"><button class="btn btn-info" type="submit">Update</button></a></td>-->
<!--    <td><a href="{% url 'eventdelete' i.id %}"><button class="btn btn-danger" type="submit">Delete</button></a></td>-->

<!--  </tr>-->
<!--  {% endfor %}-->
<!--</table>-->
<!--</center>-->


{% endblock %}